body {
    background: #a6192e;
}
#page_content {
    float: left;
    background-color: #3d3935;
    box-shadow: 0 0 15px rgba(50,50,50,0.75);
		margin: 20px;
}
.header{
	padding:20px;
}
.footer{
	padding:20px;
}
.main{
	background-color: white;
	padding: 30px;
	padding-right: 25%;
	box-shadow: 0 0 15px rgba(50,50,50,0.75);
}
h1 {
    font-size: 2em;
    line-height: 1.1em;
    font-family: "DINWebBold",sans-serif;
    font-weight: normal;
    margin-top: .9em;
}
h2{
		color: #A6192E;
		display:block;
		font-size: 1.5em;
		font-weight: bold;
}
form {
    border: 1px solid #d2e1e6;
    border-radius: 3px;
    padding: .8em;
    background-color: #e9eff1;
		overflow: hidden;
}

table, tr, td, th {
  table-layout: fixed;
  height: 30px;
  padding: 0,0,0,1px;
  border: 2px solid;
  border-color: #aaaaaa;
  border-collapse: collapse;
}

th{
	text-align: left;
	background-color: #d3d3d3;
}


input {
	padding: 8px;
	width:40%;
  font-size: 15px;
	margin: 5%;
}

p button {
    background-color: #A6192E;
    border-radius: 5px;
    border-style: hidden;
    color: #FFFFFF;
    font-family: "DINWebMedium",sans-serif;
    font-size: 1em;
    font-weight: normal;
    margin: 1em 0 10px;
    padding: 0.5em 1em;
}

#right_side{
	float: right;
}

#left_side{
  float: left;
  display: inline;
}

.resultStarter{
  font-size: 1.5em;
  color:  #888888;
  letter-spacing: .1em;
  text-transform: uppercase;
  line-height: 0.8em;
  font-family: "dinWeb",sans-serif;
  font-weight: normal;
  letter-spacing: .05em;
}

